<div class="footer">
	<div class="footer__wrapper">
		<div class="footer__main">
			<div class="container">
				<div class="footer__columns">
					<div class="footer__group">
						<div class="footer__column footer__column--info">
							<a href="/" class="footer__logo">
								<img src="img/logo-lg.svg" alt="">
							</a>

							<a class="footer__tel" href="tel:+79610614060">+7 961 061 40 60</a>
							<a class="footer__mail" href="mailto:19864060@mail.ru">19864060@mail.ru</a>
							
							<span class="footer__worktime">
								пн&nbsp;-&nbsp;пт&nbsp;:&nbsp;08:00&nbsp;-&nbsp;18:00
							</span>
						</div>

						<div class="footer__column footer__column--nav">
							<h2 class="footer__caption">О компании</h2>

							<ul class="footer__nav">
								<li>
									<a href="/">
										Оборудование
									</a>
								</li>
								<li>
									<a href="/">
										Наши работы
									</a>
								</li>
								<li>
									<a href="/">
										Благодарственные письма
									</a>
								</li>
								<li>
									<a href="/">
										Контакты
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="footer__group">
						<div class="footer__column footer__column--pages">
							<h2 class="footer__caption">Наша&nbsp;деятельность</h2>
							<ul class="footer__pages">
								<li>
									<a href="/">
										Разведка местности
									</a>
								</li>
								<li>
									<a href="/">
										Очистка местности от ВОП
									</a>
								</li>
								<li>
									<a href="/">
										Инженерно-саперное сопровождение
									</a>
								</li>
								<li>
									<a href="/">
										Лицензии
									</a>
								</li>
							</ul>
						</div>

						<div class="footer__column footer__column--rec">
							<h2 class="footer__caption">Реквизиты</h2>
							<span>
								ИНН: 9719056658
							</span>
							<span>
								ОГРН: 1237700673880
							</span>

							<address class="footer__address">
								400005, Волгоградская область, <br>
								г. Волгоград, пр-т им. В.И. Ленина, <br>
								д. 59К, оф. 21
							</address>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="footer__up">
		<svg width="80%" height="80%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 20V4M12 4L6 10M12 4L18 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</button>
</div>

@@include('_modal.html')