<header class="header" data-element="header">

	<div class="container">
		<div class="header__wrapper">

			<button class="header__burger" data-element="navToggle">
				<i></i>
				<i></i>
				<i></i>
			</button>

			<a href="/" class="header__logo">
				<img src="img/logo.svg" alt="site logo">
			</a>

			<div class="menu">
				<div class="menu-scroll">

					<nav class="header__nav">
						<ul>
							<li><a href="search.html">Разведка&nbsp;местности</a></li>
							<li><a href="clear.html">Очистка&nbsp;местности&nbsp;от&nbsp;ВОП</a></li>
							<li><a href="advice.html">Инженерно-саперное&nbsp;сопровождение</a></li>

							<!-- <li><a href="about.html">О&nbsp;компании</a></li> -->

							<li>
								<div class="header__nav-caption" data-element="subNavToggle">
									<h3>О компании</h3>
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M16 10L12 14L8 10" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>

								<ul>
									<li>
										<a href="about.html">О нас</a>
									</li>
									<li>
										<a href="devices.html">Оборудование</a>
									</li>
									<li>
										<a href="works.html">Наши работы</a>
									</li>
								</ul>
							</li>

							<li><a href="contacts.html">Контакты</a></li>
						</ul>
					</nav>

					<div class="header__contacts">
						<a href="tel:+79610614060">
							+7 961 061 40 60
						</a>
						<a href="mailto:19864060@mail.ru">
							19864060@mail.ru
						</a>
					</div>

					<a href="" class="button header__button">
						Оставить заявку
					</a>

				</div>
			</div>
		</div>
	</div>

</header>


