<header class="header" data-element="header">

	<div class="container">
		<div class="header__wrapper">

			<button class="header__burger" data-element="navToggle">
				<i></i>
				<i></i>
				<i></i>
			</button>

			<a href="/" class="header__logo">
				<img src="img/logo.png" alt="site logo">
			</a>

			<div class="menu">
				<div class="menu-scroll">

					<nav class="header__nav">
						<ul>
							<li><a href="services.html">услуги</a></li>
							<li><a href="about.html">о&nbsp;нас</a></li>
							<li><a href="about.html">прайс</a></li>
							<li><a href="about.html">лицензии</a></li>
							<li><a href="about.html">специалисты</a></li>
							<li><a href="about.html">работаем&nbsp;с&nbsp;дмс</a></li>
							<li><a href="contacts.html">контакты</a></li>
						</ul>
					</nav>

					<div class="header__contacts">
						<div class="header__social-links">
							<a target="_blank" href="https://vk.com/paramed">
								<i class="header__social-icon">
									<img src="img/vk_icon.png" alt="">
								</i>
							</a>
							<a target="_blank" href="https://t.me/paramed">
								<i class="header__social-icon">
									<img src="img/telegram_icon.png" alt="">
								</i>
							</a>
							<a target="_blank" href="https://wa.me/79628850303">
								<i class="header__social-icon">
									<img src="img/whatsup_icon.png" alt="">
								</i>
							</a>
						</div>
						<a class="header__callback">
							Заказать звонок
						</a>
					</div>

					<div class="header__contacts">
						<a href="tel:+79628850303">
							<i class="header__icon">
								<img src="img/icon_phone.png" alt="">
							</i>
							+7 (962) 885-03-03
						</a>
						<span>
							<i class="header__icon">
								<img src="img/icon_time.png" alt="">
							</i>
							Круглосуточно
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>


