<div id="callback" class="modal">
	<div class="contacts__form contacts__item contacts__item--full">
		<h2>
			напишите нам
		</h2>
		<form>
			<input type="text" name="name" placeholder="Ваше имя или название организации">

			<div class="form__group">
				<input class="form__input form__input--tel" type="text" name="tel" required="" placeholder="+7 (ХХХ) ХХХ ХХ ХХ" maxlength="18">
				<input class="form__input form__input--mail" type="email" name="mail" required="" placeholder="E-mail">
			</div>

			<textarea name="message" placeholder="Ваше сообщение..."></textarea>

			<button class="button form__button" type="submit">
				Отправить заявку
			</button>
		</form>
	</div>
</div>