<div id="callback" class="modal">
	<div class="contacts__form contacts__item contacts__item--full">
		<form>
			<input type="text" name="name" placeholder="Ваше имя">

			<div class="form__group">
				<input class="form__input form__input--tel" type="text" name="tel" required="" placeholder="+7 (ХХХ) ХХХ ХХ ХХ" maxlength="18">
			</div>

			<textarea name="message" placeholder="Причина вызова"></textarea>

			<button class="button form__button" type="submit">
				Отправить заявку
			</button>
		</form>
	</div>
</div>

<div id="review" class="modal">
	<div class="review review--review">
		<header>
			<div class="review__photo">
				<img src="img/review.jpg" alt="">
			</div>
			<div class="review__info">
				<h3>
					Ирина Анатольева
				</h3>
				<div>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
				</div>
			</div>
		</header>
		<p>
			Вчера вызывала скорую помощь на дом.
			Нет предела словам благодарности в адрес работников ПарамедикСочи!
			Глубокие знания, большая компентентность, высокая культура,
			очень большое внимание оказанное мне! Спасибо!
		</p>
	</div>
</div>