.about {
	margin-bottom: 32px;

	&--page {
		padding: 40px 0;
		margin-top: 132px;
		margin-bottom: 32px;
		
		@media only screen and (max-width: 1200px) {
			margin-top: 98px;
		}
	
		@media only screen and (max-width: 900px) {
			margin-top: 70px;
		}
	}
	
	&__banner {
		position: relative;
		margin: 0 auto;
		width: max-content;
		flex-shrink: 0;

		& div {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			inset: 0;

			& p {
				width: 60%;
				font-size: 22px;
			}
		}

		@media only screen and (max-width: 1200px) {
			width: 100%;

			& img {
				display: none;
			}

			& div {
				position: relative;
				left: auto;
				top: auto;
	
				& p {
					width: 100%;
					font-size: 28px;
					margin: 30px 0;
				}
			}
		}
	}

	& h3 {
		font-size: 30px;
		font-weight: 700;

		@media only screen and (max-width: 900px) {
			font-size: 24px;
		}
	}

	&__wrapper {
		display: flex;
		gap: 20px;

		@media only screen and (max-width: 900px) {
			flex-direction: column;
		}
	}

	&__item {
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
		width: calc(50% - 20px / 2);
		padding: 20px;
		border-radius: 30px;
		border: 2px solid #de0000;
		font-size: 17px;

		@media only screen and (max-width: 900px) {
			width: 100%;
			padding: 10px;
			border-radius: 16px;
			font-size: 14px;
		}
	}
}

.about-list {
	padding: 20px 0;
	background-color: rgb(250, 250, 250);

	&__wrapper {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		margin: 20px 0;
	}

	&__item {
		width: calc(32% - 30px / 2);

		@media only screen and (max-width: 900px) {
			width: calc(50% - 30px / 2);
		}

		@media only screen and (max-width: 600px) {
			width: 100%;
		}

		& h3 {
			position: relative;
			padding-bottom: 10px;

			&::before {
				position: absolute;
				content: "";
				bottom: 0;
				width: 50%;
				height: 2px;
				background-color: #de0000;
			}
		}
	}
}

.about-info {
	padding: 20px 0;

	&__video {
		position: relative;
		height: 650px;
		width: 368px;
		flex-shrink: 0;

		@media only screen and (max-width: 900px) {
			margin: 0 auto;
		}

		@media only screen and (max-width: 500px) {
			width: 100%;
		}

		& video {
			position: absolute;
			inset: 0;
			height: 100%;
			width: 100%;
		}
	}

	&__wrapper {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		margin: 20px 0;

		@media only screen and (max-width: 900px) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__item {
		padding: 20px;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
		margin-bottom: 30px;
	}

	&__content {
		flex-grow: 1;

		& a {
			color: #dd9933;
		}
	}

	&__banner {
		width: 100%;
		height: 500px;
		position: relative;

		& img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}