.article {
	position: relative;
	padding: 40px 0;
	margin-top: 132px;
	// margin-bottom: 32px;

	& h2 {
		font-size: 30px;
		// text-align: center;
		margin-bottom: 20px;
		font-weight: 400;

		@media only screen and (max-width: 900px) {
			font-size: 25px;
		}
	}

	& ul, & ol {
		@media only screen and (max-width: 900px) {
			padding-left: 20px;
		}
	}

	& li {
		margin: 6px 0;
	}

	@media only screen and (max-width: 1200px) {
		margin-top: 98px;
	}

	@media only screen and (max-width: 900px) {
		margin-top: 70px;
		padding-bottom: 0;
	}

	&__info {
		display: flex;
		gap: 8px;
		margin: 20px 0;

		& > div {
			background-color: #dd9933;
			color: #fff;
			padding: 6px;
			border-radius: 3px;
		}
	}

	&__banner {
		padding: 20px;
		border-radius: 20px;
		background-color: rgb(217, 83, 79);
		border: 2px solid #000;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-weight: 600;

		& > a {
			font-weight: 600;
			color: #dd9933;
		}

		@media only screen and (max-width: 900px) {
			flex-direction: column;
			gap: 6px;
		}
	}
}