.breadcrumbs {
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	padding: 2px;
	background-color: #383838;

	@media (max-width: 1000px) {
		overflow-x: scroll;
		
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-thumb {
			display: none;
		}
	}

	& a {
		font-size: 14px;
		font-weight: 400;
		line-height: 18.2px;
		color: #dd9933;

		@media (max-width: 700px) {
			font-size: 10px;
			line-height: 14px;
		}
	}

	.breadcrumb_font_style {
		margin-right: 10px;
	}

	.breadcrumb_font_dash {
		color: #FFFFFFA3;
	}

	& ol {
		flex-shrink: 0;
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		width: max-content;
		font-size: 14px;
		font-weight: 400;
		line-height: 18.2px;
		color: #dd9933;

		@media (max-width: 700px) {
			font-size: 10px;
			line-height: 14px;
		}
	}

	& ol li:not(:last-child) {
		margin-right: 10px;
	}

	& ol li:last-child {
		.breadcrumb_font_style {
			margin-right: 10px;
			color: #dd993383;
		}
	}

	.span_m_l_20 {
		margin-left: 15px;
	}
}
