.button {
	display: inline-flex;
	align-items: center;
	position: relative;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	transition: background-color .3s, opacity .3s, box-shadow .3s;

	font-family: Onest;
	font-size: 18px;
	font-weight: 700;
	line-height: 22.95px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #fff;
	background-color: #CC423F;

	padding: 24px 16px;
	border-radius: 8px;
	border: none;

	@media (hover: hover) {
		&:hover {
			background-color: #932d2c;
		}
	}

	@media only screen and (max-width: 1800px) {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		padding: 16px;
	}

	&--lg {
		min-width: 420px;
		font-family: Onest;
		font-size: 24px;
		font-weight: 800;
		line-height: 30.6px;
		text-align: left;

		@media (max-width: 1000px) {
			min-width: auto;
			font-size: 18px;
			font-weight: 600;
			line-height: 24px;
		}
	}

	&--animated {
		position: relative;
		z-index: 2;

		& div {
			position: absolute;
			inset: 0;
			z-index: -1;
			background-color: #cc413fd6;
			width: 100%;
			height: 100%;
			border-radius: 8px;
			pointer-events: none;
			animation: pulse 2s infinite ease-in-out;
		}
	}
}

@keyframes pulse {
	100% {
		transform: scaleY(1.7) scaleX(1.2);
		opacity: 0;
	}
}