.description {
	display: flex;
	padding: 16px;
	background-color: #18191F14;
	margin: 32px 0;
	border-radius: 16px;

	@media only screen and (max-width: 800px) {
		flex-direction: column;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 60px 20px;
		border-radius: 16px;
		transition: background-color .3s;
		text-align: center;

		&.is-current {
			background-color: #FFFFFFA3;

			& h2 {
				color: #de0000;
			}
		}

		@media only screen and (max-width: 1000px) {
			padding: 20px;
		}
	}

	&__icon {
		display: flex;
		width: 110px;
		height: 110px;
		position: relative;
		margin-bottom: 42px;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		@media only screen and (max-width: 1000px) {
			width: 80px;
			height: 80px;
			margin-bottom: 22px;
		}
	}

	&__caption {
		font-size: 30px;
		font-weight: 700;
		line-height: 38.25px;
		text-align: center;
		transition: color .3s;
		text-transform: uppercase;

		@media only screen and (max-width: 1000px) {
			font-size: 26px;
			font-weight: 600;
			line-height: 30px;
		}
	}
}