.footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(36, 36, 36);
	color: #fff;
	width: 100%;

	.header__social-icon {
		display: flex;
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		align-items: center;
		justify-content: center;
	}

	.header__social-links {
		display: flex;
		justify-content: space-between;
	}

	.header__callback {
		text-align: center;
		font-size: 15px;
		border-bottom: 2px dashed red;
		cursor: pointer;
	}

	.header__contacts {
		width: max-content;

		&:last-child {
			margin-left: 0;
			flex-direction: column-reverse;
		}

		@media only screen and (max-width: 1350px) {
			&:last-child {
				display: flex;
			}
		}

		@media only screen and (max-width: 1000px) {
			display: flex;
			margin: 0;
			width: max-content;

			&:last-child {
				display: flex;
				margin: 0;
			}
		}

		& a {
			display: flex;
			align-items: center;
			gap: 10px;
			transition: color .3s;
			text-align: right;
			color: #fff;

			@media only screen and (max-width: 700px) {
				font-size: 12px;
			}
		}

		& span {
			display: flex;
			align-items: center;
			gap: 10px;
			text-transform: uppercase;

			@media only screen and (max-width: 700px) {
				font-size: 12px;
			}
		}

		@media (hover: hover) {
			& a:hover  {
				color: #de0000;
			}
		}
	}

	.header__icon {
		@media only screen and (max-width: 700px) {
			width: 30px;
			height: 30px;
		}
	}

	&__up {
		position: absolute;
		bottom: 20px;
		right: 10px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #de0000;
		transition: background-color .3s;
		padding-top: 4px;


		@media (hover: hover) {
			&:hover {
				background-color: #c72a28;
			}
		}
	}

	&__caption {
		font-size: 24px;
		font-weight: 600;
		line-height: 30.6px;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 10px;

		@media only screen and (max-width: 600px) {
			font-size: 14px;
			line-height: 18px;
		}
	}

	&__logo {
		@media only screen and (max-width: 1300px) {
			// margin: 0 auto;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__main {
		padding: 64px 0;

		@media only screen and (max-width: 1300px) {
			padding: 34px 0;
		}
	}

	&__nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 10px;

		& a {
			font-size: 20px;
			line-height: 25px;
			color: #fff;
			transition: color .3s;
			opacity: .6;

			@media (hover: hover) {
				&:hover {
					color: #de0000;
				}
			}

			@media only screen and (max-width: 600px) {
				font-size: 14px;
				line-height: 18px;
			}
		}

		@media only screen and (max-width: 900px) {
			gap: 16px;
		}
	}

	&__address {
		font-size: 14px;
		line-height: 22.4px;
		font-style: normal;
	}

	&__worktime {
		font-size: 20px;
		font-weight: 400;
		line-height: 25.5px;
		color: #fff;

		@media only screen and (max-width: 769px) {
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__tel {
		font-size: 32px;
		font-weight: 700;
		line-height: 40.8px;
		color: #fff;
		transition: color .3s;

		@media (hover: hover) {
			&:hover {
				color: #de0000;
			}
		}

		@media only screen and (max-width: 900px) {
			font-size: 24px;
			font-weight: 600;
			line-height: 28px;
		}

		@media only screen and (max-width: 600px) {
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
		}
	}

	&__mail {
		font-size: 20px;
		font-weight: 500;
		line-height: 25.5px;
		color: #fff;
		text-decoration: underline;
		transition: color .3s;

		@media (hover: hover) {
			&:hover {
				color: #842726;
			}
		}

		@media only screen and (max-width: 600px) {
			font-size: 14px;
			font-weight: 500;
			line-height: 18px;
		}
	}

	&__pages {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 10px;

		& a {
			font-size: 20px;
			font-weight: 500;
			line-height: 25.5px;
			color: #fff;
			transition: color .3s;

			@media (hover: hover) {
				&:hover {
					color: #de0000;
				}
			}

			@media only screen and (max-width: 600px) {
				font-size: 14px;
				line-height: 18px;
			}
		}

		@media only screen and (max-width: 769px) {
			gap: 16px;
			font-size: 16px;
			font-weight: 400;
			line-height: 18px;
		}
	}

	&__columns {
		display: flex;
		justify-content: center;
		gap: 40px;

		@media only screen and (max-width: 1600px) {
			padding: 0;
		}

		@media only screen and (max-width: 1300px) {
			padding: 0 60px;
		}

		@media only screen and (max-width: 900px) {
			gap: 24px;
			padding: 0;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		&--info {
			align-items: center;
			gap: 24px;

			@media only screen and (max-width: 1300px) {
				align-items: flex-start;
			}

			@media only screen and (max-width: 700px) {
				gap: 16px;
			}
		}

		&--rec {
			& span {
				margin-bottom: 16px;
			}
		}
	}

	&__group {
		display: contents;

		@media only screen and (max-width: 1300px) {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			gap: 32px;
		}
	}
}