form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 16px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 11.9104px 37.4328px rgb(148 143 143 / 25%);
	background-color: #fff;

	@media only screen and (max-width: 900px) {
		padding: 10px;

		& h2 {
			text-align: center;
		}
	}

	.form__wrapper {
		display: flex;
		align-items: center;
		gap: 14px;

		@media (max-width: 800px) {
			flex-direction: column;
		}
	}

	.form__label {
		display: block;
		cursor: pointer;
	}

	.form__group {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.form__button {
		width: 100%;
		height: 74px;
	}

	& input {
		width: 100%;
		border: 2px solid rgb(199, 199, 199);
		padding: 24px;
		border-radius: 8px;
		font-size: 20px;
		font-weight: 400;
		line-height: 25.5px;
		text-align: left;
		color: #18191F;
		background-color: #fff;
	}

	& textarea {
		width: 100%;
		height: 300px;
		resize: none;
		border: 2px solid rgb(199, 199, 199);
		padding: 24px;
		border-radius: 8px;
		font-size: 20px;
		font-weight: 400;
		line-height: 25.5px;
		text-align: left;
		color: #18191F;
		background-color: #fff;
	}

	.checkbox {
		font-size: 12px;
		line-height: 16px;
		color: #18191F;
		letter-spacing: normal;
		display: flex;
		text-align: left;
		justify-content: center;
	}
	.checkbox label input {
		position: absolute;
		z-index: -1;
		height: 1px !important;
		width: 1px !important;
		opacity: 0 !important;
	}
	.checkbox label > span {
		position: relative;
		display: block;
		cursor: pointer;
	}
	.checkbox label > span:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: #FFFFFF1C;
		border: 1px solid #18191F;
		border-radius: 3px;
		margin-right: 10px;
		vertical-align: middle;
	}
	.checkbox label > span:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		background-image: url("../img/check.svg");
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0;
		transition: .3s;
	}
	.checkbox label input:checked + span:after {
		opacity: 1;
	}
}