.header {
	position: fixed;
	z-index: 99;
	width: 100%;
	transition: background-color .3s, box-shadow .3s, height .3s, transform .3s;
	background-color: #fff;

	&__wrapper {
		position: relative;
		width: 100%;
		display: flex;
		padding: 16px 0;
		align-items: center;
		transition: padding .3s;

		@media only screen and (max-width: 1200px) {
			padding: 6px 0;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: 32px;

		@media only screen and (max-width: 1600px) {
			margin-right: 20px;
		}

		@media only screen and (max-width: 1210px) {
			display: none;
		}

		@media only screen and (max-width: 1000px) {
			display: flex;
			margin: 0;
			align-items: flex-start;
			gap: 10px;
		}

		& a {
			transition: color .3s;
			text-align: right;
			color:#393939;

			&:first-child {
				font-family: Onest;
				font-size: 24px;
				font-weight: 700;
				line-height: 30.6px;

				@media only screen and (max-width: 1600px) {
					font-size: 20px;
					font-weight: 600;
					line-height: 22px;
				}
			}
		}

		@media (hover: hover) {
			& a:hover  {
				color: #CC423F;
			}
		}
	}

	&__logo {
		display: flex;
		width: 67px;
		height: 74px;
		flex-shrink: 0;

		@media only screen and (max-width: 1000px) {
			width: 47px;
			height: 52px;
		}

		& img {
			position: relative;
			flex-shrink: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__nav {
		& a,
		& h3 {
			white-space: nowrap;
			font-size: 18px;
			font-weight: 500;
			line-height: 22.95px;
			color: #393939;
			transition: color .3s;

			&.is-current {
				color: #CC423F;
			}

			@media only screen and (max-width: 1600px) {
				font-size: 15px;
				line-height: 20px;
			}

			@media only screen and (max-width: 1000px) {
				font-size: 18px;
				line-height: 22px;
			}
		}

		& ul:first-child {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			gap: 32px;
			margin: 0 32px;

			@media only screen and (max-width: 1600px) {
				gap: 16px;
				margin: 0 20px;
			}

			@media only screen and (max-width: 1000px) {
				flex-direction: column;
				margin: 0;
			}
		}

		& ul:nth-child(2) {
			display: flex;
			gap: 1rem;
			flex-direction: column;
			width: max-content;
			list-style: none;
			position: absolute;
			top: 70px;
			left: auto;
			padding: 20px;
			margin: 0;
			border-radius: 10px;
			background-color: #ffffff;
			border: 1px solid #393939;
			pointer-events: none;
			opacity: 0;
			transition: opacity .3s;

			@media only screen and (max-width: 1000px) {
				position: relative;
				justify-content: center;
				// align-items: center;
				gap: 10px;
				opacity: 1;
				pointer-events: auto;
				background-color: transparent;
				top: auto;
				padding: 0;
				border: none;
			}
		}

		&-caption {
			position: relative;
			display: flex;
			gap: 8px;
			cursor: pointer;
			transition: opacity .3s, color .3s;

			& svg path {
				transition: stroke .3s;
			}

			& svg {
				transition: transform .3s;
			}

			@media only screen and (max-width: 1000px) {
				display: none;
			}
		}

		@media (hover: hover) {
			& a:hover,
			& h3:hover{
				color: #CC423F;
			}

			.header__nav-caption:hover {
				& svg path {
					stroke: #CC423F;
				}
			}
		}
	}

	&__button {
		@media only screen and (max-width: 1700px) {
			display: none;
		}

		@media only screen and (max-width: 1000px) {
			display: block;
		}
	}

	&__burger {
		position: absolute;
		right: 0;
		top: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 20%;
		background-color: #CC423F;
		flex-shrink: 0;
		padding: 4px;
		z-index: 100;
		cursor: pointer;
		transition: background-color .3s;
		display: none;

		& i {
			display: block;
			position: relative;
			height: 2px;
			width: 60%;
			border-radius: 2px;
			background: #fff;
			left: 0;
			top: 0;
			margin-bottom: 4px;
			transition: opacity .3s, transform .3s;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media only screen and (max-width: 1000px) {
			display: flex;
		}
	}

	.menu {
		display: contents;

		@media only screen and (max-width: 1000px) {
			display: block;
			overflow-y: scroll;
			padding-bottom: 50px;

			position: absolute;
			z-index: 99;
			top: 64px;
			left: -20px;
			background-color: #ffffffec;
			backdrop-filter: blur(5px);
			height: 100vh;
			width: calc(100vw + 20px);
			pointer-events: none;
			transform: translateX(-100%);
			transition: transform .3s;

			&::-webkit-scrollbar,
			&::-webkit-scrollbar-thumb {
				display: none;
			}
		}
	}

	.menu-scroll {
		display: contents;

		@media only screen and (max-width: 1000px) {
			display: flex;
			gap: 16px;
			flex-direction: column;
			height: auto;
			width: 100vw;
			padding: 24px 20px 24px 30px;
			padding-bottom: 100px;
		}
	}
}

body.is-nav-open {
	overflow: hidden;

	.menu {
		transform: none;
		pointer-events: auto;
	}

	.header__burger {
		& i {
			transform: rotate(45deg);
			
			&:first-child {
				opacity: 0;
			}

			&:last-child {
				transform: rotate(-45deg);
				top: -6px;
			}
		}
	}
}

body.is-sub-nav-open {
	.header__nav {
		& ul:nth-child(2) {
			opacity: 1;
			pointer-events: auto;
		}

		&-caption {
			& svg {
				transform: rotate(180deg);
			}

			& h3 {
				color: #CC423F;
			}

			& svg path {
				stroke: #CC423F;
			}
		}
	}
}

body.is-scrolled {
	.header {
		box-shadow: 0px 11px 15px -10px #000000c2;
		background-color: #ffffff;
		backdrop-filter: blur(10px);

		@media only screen and (max-width: 1000px) {
			background-color: #ffffffec;
			backdrop-filter: none;
		}

		&__wrapper {
			position: relative;
			width: 100%;
			display: flex;
			padding: 6px 0;
			align-items: center;
		}
	}
}