.order {
	&__header {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		align-items: center;
		padding: 20px 0;

		@media only screen and (max-width: 900px) {
			flex-direction: column;
		}

		& h3 {
			font-size: 25px;
			// width: 80%;
			text-align: center;
		}

		& a {
			flex-shrink: 0;
			padding: 16px 32px;
			background-color: #de0000;
			border: 1px solid #de0000;
			color: #fff;
			border-radius: 10px;
			transition: background-color .3s, color .3s;

			@media (hover: hover) {
				&:hover {
					color: #de0000;
					background-color: #fff;
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-size: 17px;
		padding: 20px 0;

		& a {
			color: rgb(163, 87, 37);
		}
	}
}