.reviews {
	margin: 100px 0;
	padding: 0 76px;
	position: relative;

	@media (max-width: 950px) {
		padding: 0;

		margin: 40px 0;
	}

	& h2 {
		font-size: 64px;
		font-weight: 600;
		line-height: 81.6px;
		text-align: center;
		margin-bottom: 64px;
		text-transform: uppercase;

		@media (max-width: 950px) {
			font-size: 34px;
			line-height: 41.6px;
			margin-bottom: 24px;
		}
	}

	&__controls {
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 50%;
		left: 0;
		width: 100%;

		.prev,
		.next {
			width: 64px;
			height: 64px;
			cursor: pointer;
		}

		.next {
			transform: rotate(180deg);
		}

		@media (max-width: 950px) {
			display: none;
		}
	}

	.slick-slide {
		width: 330px !important;
		height: 500px !important;
	}
	
	.slick-track {
		display: flex !important;
		align-items: stretch !important;
	}
	
	.slick-list {
		margin: 0 -5px; /* Отступы для зазоров между слайдами */
	}

	.slick-slide {
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.slick-slide img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}